doctype html
html
  head
    title Unknown user
    link(rel='stylesheet', href='/stylesheets/home.css')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

body
  div(class='indexPage')
    h1 Unknown User
    | Hello. You are a user unknown to this server. To access these recipes you need to become
    | registered by emailing the owner.<br>Please send an email requesting access to #{emailAddress}.
    | Provide this code: 
    - var mailto = 'mailto:' + emailAddress;
    - mailto += '?subject=Request%20Recipe%20Access:' + cookie;
    - mailto += "&body=http://www.audreysgreatbigbookoffood.com/addCookie?cookie=" + cookie;
    a(href=mailto)
      #{cookie}
