doctype html
html
  head
    title Unknown user
    link(rel='stylesheet', href='/stylesheets/home.css')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='robots' content='noindex')

body
  div(id="middleContainer",class="box")
    div(class='header no-print')
      a(href="/")
        img(src="images/Audrey's Great Big Book of Food Title Small Alpha.png" style="width:auto;height:auto;max-width:100%;max-height:100%")

    - var mailto = 'mailto:' + emailAddress;
    - mailto += '?subject=Request%20Recipe%20Access:' + cookie;
    - mailto += "&body=" + escape("http://www.audreysgreatbigbookoffood.com/addCookie?cookie=" + cookie + "&who=");
    p
      &nbsp;
    p
      | Welcome!<br><br>This device is unknown to this server. Access to the recipes here is restricted.
      | Access must be granted to each individual device. (eg. iPad, iPhone, laptop, and desktop)
    p
      &nbsp;
    p
      a(href=mailto) Click on this link
      |  to send an email to the website's owners which will request access for you.
    p
      &nbsp;
    p
      | If that does not work, then send an email to this address <b>#{emailAddress}</b><br>
      | Please provide this code: <b>#{cookie}</b>. 
    p
      &nbsp;
    p
      | Thank you! And we hope you enjoy the website.
