* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  color: #3E84DE;
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
}

div {
  /* border: 1px solid black; */
}

img {
  width:100%;
}

/* unvisited link */
a:link {
  text-decoration: none;
  color: blue;
}

/* visited link */
a:visited {
  color: blue;
}

/* mouse over link */
a:hover {
  text-decoration:underline;
}

/* selected link */
a:active {
}

#middleContainer {
    width: 600px;
    margin: 5px auto;
    padding: 10px 10px;
}

#middleContainer {
    position: relative;
    left: 50%;
    margin-left: -300px;
}
.box {
    background: white;
    border-style: solid;
    border-width: 1.5px;
    border-color: #071419;
    border-radius: 12px;
    -moz-border-radius: 12px;
}
