* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  color: #3E84DE;
  font: 1em "Lucida Grande", Helvetica, Arial, sans-serif;
}

div {
  /* border: 1px solid black; */
}

img {
  width:100%;
}

/* unvisited link */
a:link {
  text-decoration: none;
}

/* visited link */
a:visited {
}

/* mouse over link */
a:hover {
  text-decoration:underline;
}

/* selected link */
a:active {
}
