@import url("common.css");

input[type="submit"] {
  	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
  	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
  	box-shadow:inset 0px 1px 0px 0px #54a3f7;
  	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
  	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
  	background-color:#007dc1;
  	-moz-border-radius:3px;
  	-webkit-border-radius:3px;
  	border-radius:3px;
  	border:1px solid #124d77;
  	display:inline-block;
  	cursor:pointer;
  	color:#ffffff;
  	font-family:Arial;
  	font-size:13px;
  	padding:6px 24px;
  	text-decoration:none;
  	text-shadow:0px 1px 0px #154682;
}

input[type="submit"]:hover {
  	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
  	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
  	background-color:#0061a7;
}

input[type="submit"]:active {
	position:relative;
	top:1px;
}

.searchTable {
  margin:auto;
  padding-top: 0.1in;
}

.searchImageCell {
  width: 1.5in;
  height: 1.5in;
}

.searchResultCell {
  vertical-align: center;
  padding-top: 0;
}

.result {
  font-size: 1.3em;
  padding: 0.0in 0.25in 0.05in 0.25in;
}

.searchText {
  font-size: 1.4em;
}

.fieldLabel {
  text-align: right;
}

.fieldSelector {
  text-align: left;
}

.submitButtonCell {
  text-align: center;
}

option {
  font-size:1em;
}

select {
  font-size:1em;
}

.numRecipesMessage {
  text-align: center;
}

.instructionsMessage {
  padding-top: .25in;
}

.indexPage {
  max-width: 8.5in;
  padding: 0.1in 0.1in 0.1in 0.1in;
  color: #3E84DE;
  background-color: white;
}

.indexPageImage {
  width: 3in;
  padding-right:0.5in;
  float:left;
}

@media only screen and (max-device-width: 480px) {
  .indexPage {
    padding: 0.05in 0.05in 0.05in 0.05in;
  }

  .indexPageImage {
    width: 100%;
    clear: both;
  }
}

.mealsPageImage {
  width: 1.5in;
  float:left;
}

.indexPageResults {
  clear:left;
}
