@import url("common.css");

body {
  /* For normal web pages */
  font-size: 1.0em;
}

.page {
  margin: auto;
  padding: 0.1in 0.25in 0.25in 0.1in;
  background-color: white;
  color: black;
}

.header {
  margin-top: 0.1in;
  margin-bottom: 0.0in;
  margin-left: 0.5in;
  height:60px;
}

.undertitle {
}

@media only screen and (max-device-width: 1024px) {
  /* For general iPad layouts */
  body {
    font-size: 1.7em;
  }
}

@media only screen and (max-device-width: 736px) {
  /* For smartphones */
  body {
    font-size: 1em;
  }
}


h1 {
  font-size: 2.4em;
}

h2 {
  padding-top: .2in;
  padding-bottom: .05in;
  font-size: 1.8em;
}

h3 {
  margin-left: -0.2in;
  padding-top: 0.03in;
  padding-bottom: 0in;
  font-size: 1.4em;
}

.recipeAttributes {
  display: inline-block;
  padding: 0.01in 0.01in 0.01in 0.01in;
  font-size: 1.0em;
  border: 1px solid black;
}

.source {
  padding: 0.01in 0.01in 0.01in 0.01in;
  font-size: 1.0em;
}

p {
  padding-left: 0.0in;
  padding-bottom: 0.1in;
}

ol {
  margin-left: .4in;
}

img {
  width:100%;
}

.liUnordered
{
  list-style-type: disc;
}

.liOrdered
{
  padding-bottom: 0.1in;
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}
